$TTL 1D
@	IN SOA	helper.{{ hub_domain }}. root.{{hub_domain }}. (
					0	; serial
					1D	; refresh
					1H	; retry
					1W	; expire
					3H )	; minimum
		NS	helper.{{ hub_domain }}.
worker1		A	192.168.122.{{ ip_list.c1worker1 }}
worker2		A	192.168.122.{{ ip_list.c1worker2 }}
worker3		A	192.168.122.{{ ip_list.c1worker3 }}
api		A	192.168.122.60
api-int		A	192.168.122.60
*.apps		A	192.168.122.{{ ip_list.c1lb }}

