$TTL    600
@   IN SOA  helper.{{ hub_domain }}. admin.root.{{ hub_domain }}. (
                     2019082200   ; serial
                     1800  ; refresh
                     1800  ; retry
                     604800  ; expire
                     86400 )    ; minimum

@ 					IN NS 	helper.{{ hub_domain }}.
{{ ip_list.helper_server }}   		IN PTR 		helper.{{ hub_domain }}.
{{ ip_list.bootstrap }} 		IN PTR 		bootstrap.{{ hub_domain }}.
{{ ip_list.master1 }} 		IN PTR 		master1.{{ hub_domain }}.
{{ ip_list.master2 }} 		IN PTR 		master2.{{ hub_domain }}.
{{ ip_list.master3 }} 		IN PTR 		master3.{{ hub_domain }}.
{{ ip_list.worker1 }} 		IN PTR 		worker1.{{ hub_domain }}.
{{ ip_list.worker2 }} 		IN PTR 		worker2.{{ hub_domain }}.
{{ ip_list.worker3 }} 		IN PTR 		worker3.{{ hub_domain }}.
{{ ip_list.c1worker1 }} 		IN PTR 		c1worker1.{{ hosted_domain }}.
{{ ip_list.c1worker2 }} 		IN PTR 		c1worker2.{{ hosted_domain }}.
{{ ip_list.c1worker3 }} 		IN PTR 		c1worker3.{{ hosted_domain }}.
{{ ip_list.c2worker1 }} 		IN PTR 		c2worker1.{{ hosted_domain2 }}.
{{ ip_list.c2worker2 }} 		IN PTR 		c2worker2.{{ hosted_domain2 }}.
{{ ip_list.c2worker3 }} 		IN PTR 		c2worker3.{{ hosted_domain2 }}.

